<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867722950685-npvu9ptjjkp08h3dk6aro5q1at5uf7kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867722950685-npvu9ptjjkp08h3dk6aro5q1at5uf7kf</string>
	<key>API_KEY</key>
	<string>AIzaSyBFsl637GAON6za_q-4xufkOZU7Bh4K88s</string>
	<key>GCM_SENDER_ID</key>
	<string>867722950685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spaceLabTasks</string>
	<key>PROJECT_ID</key>
	<string>todo-project-codesangam</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-project-codesangam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867722950685:ios:25a0b177f7e4953501eef4</string>
</dict>
</plist>